@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Prueba Técnica para Bitsion</h2>
</div>
<hr/>
<br/>
<div class=" text-center">
    <img class="d-block mx-auto mb-4" src="https://lh4.googleusercontent.com/f3BNDFeIE9u1d3CIrLB4w_kciqV3pzhtMiwMwFBXYq5XIMeqGyBzj8JUZhNuYh41Aqm5AFXdgHvAj8NbGS06T2REAnd3R6uI-X3R7Ar1g1Jm8IO4HquEjf2OTIE6pujMGilspNaC" alt="" width="341" height="85">
    <h4 class="display-5 fw-bold">La Empresa</h4>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4"><b> Ginkgo Soft Srl. </b> es una empresa de desarrollo de software creada en la ciudad de Córdoba Argentina con más de 20 años de antigüedad, su marca comercial es <b> Bitsion®.</b></p>
        <p class="lead mb-4">Bajo su filosofía de ser líder en los mercados verticales en los que se especializa, ha creado varias soluciones de software para los mercados de Seguros, Salud, Finanzas, Logística y Retail, consolidando unidades estratégicas en los dominios de Documentación, Identidad y Cobros y Pagos digitales.</p>
    </div>
</div>
<br/>
<hr/>
<br/>
<div>
    <h3 class="text-center">Descripcion de la prueba</h3>
    <p class="text-center">
        La empresa <b>Ficticia S.A.</b> está incursionando en la venta de seguros de vida, pero tiene una problemática en conocer a sus clientes actuales.Para ésto requieren el desarrollo de un sistema donde se puedan registrar personas, incluyendo datos como:
    </p>
    <p>
        <ul>
            <li>Nombre completo</li>
            <li>Edad</li>
            <li>Género</li>
            <li>Estado (Activo o no)</li>
            <li>Atributos Adicionales</li>
            <ul>
                <li>¿Maneja?</li>
                <li>¿Usa Lentes?</li>
                <li>¿Es Diabético?</li>
                <li>¿Padece alguna otra enfermedad?</li>
            </ul>
        </ul>
        Se espera que el diseño del sistema permita realizar alta, baja y modificación de los datos mencionados.
    </p>
</div>

<hr/>
<br/>
<div class="row">
    <div class="col-sm-4">
        <div class="card text-center" style="width: 18rem;">
            <img src="~/Images/Listado_Crud.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Patrón Repositorio y Unit of Work</h5>
                <p class="card-text">Se utilizaron los patrones de diseño Repository ( Repositorio ) y Unit of Work ( Unidad de Trabajo )</p>
                
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card text-center" style="width: 18rem;">
            <img src="~/Images/net_core.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">.Net Core 5.0</h5>
                <p class="card-text">Se utilizó el lenguaje más moderno, de código abierto, multiplataforma y de alto rendimiento de Microsoft, .Net Core 5.0</p>

            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card text-center" style="width: 18rem;">
            <img src="~/Images/EFCore (1).jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">.Net Core 5.0</h5>
                <p class="card-text">Se utilizó el lenguaje más moderno, de código abierto, multiplataforma y de alto rendimiento de Microsoft, .Net Core 5.0</p>

            </div>
        </div>
    </div>

</div>
<br/>
<div class="row">
    
        <div class="col-sm-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="~/Images/mvc.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">.Net Core 5.0</h5>
                    <p class="card-text">Se utilizó el patrón de arquitectura de software Modelo-vista-controlador (MVC) </p>

                </div>
            </div>
        </div>
    
    <div class="col-sm-4">
        <div class="card text-center" style="width: 18rem;">
            <img src="~/Images/identity.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">.Net Core Identity</h5>
                <p class="card-text">Se utilizó .Net Core Identity para implementar el registro y logueo de Usuarios.</p>

            </div>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="card text-center" style="width: 18rem;">
            <img src="~/Images/Listado_Crud.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Paginación</h5>
                <p class="card-text">Se implementó paginación para mostrar una cantidad especifica de resultados (Cantidad seleccionable), se implementó también un buscador por nombre y la posibilidad de ordenar por los campos "Nombre" y "Fecha de Alta" </p>

            </div>
        </div>
    </div>
        

</div>



@*<div class="card text-center" style="width: 18rem;">
    <img src="~/Images/Listado_Crud.jpg" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Crud Personas</h5>
        <p class="card-text">Crud para realizar alta, baja y modificación de los datos de los asegurados.</p>
        <a asp-controller="Person" asp-action="Index" class="btn btn-primary">Ir al Crud</a>
    </div>
</div>*@